#div-header-logo {
    display: flex;
    align-items: center;
    gap: 10.47px;
  }
  
  #logo {
    padding: 17px 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #div-logo {
    width: 11.17px;
    height: 11.17px;
    background: rgba(66, 0, 255, 0.5);
    border-radius: 50%;
  }
  
  #header-div-container {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  #header {
    width: 100vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 23.13px;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    background-image: url(../../images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 89%;
  }
  
  #form-register {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 40px;
    gap: 15px;
    width: 506px;
    /* height: 489px; */
    background: rgba(255, 255, 255, 0.95);
    margin: auto;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  .pTextForm {
    width: 334px;
    height: 22px;
    left: 509px;
    top: 333px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  
  .TitleForm {
    width: 111px;
    height: 60px;
    left: 509px;
    top: 262px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
  }