#header {
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 23.13px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#div-sections {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

#left-section {
  background-image: url(../../images/Rectangle\ 6.png);
  background-repeat: no-repeat;
  width: 550px;
  /* height: 743px; */
}

#right-section {
  width: 564px;
  height: 730px;
  overflow: auto;
  /* overflow-y: hidden; */
  background: #f8f8f8;
  
}

#cardList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 134.99px;
  list-style: none;
  background-color: #ffffff;
  border-bottom: 1px solid #4200ff;
}

.titleh2-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52.18px;
  padding: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  width: 100%;
  background: #4200ff url('../../images/Arrow.png') 95.5% 50% no-repeat;
}

@media (max-width: 600px) {
  #left-section {
    width: 0;
    visibility: hidden;
  }

  #cardList {
    display: flex;
    flex-direction: row;
  }
}
