#header {
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 23.13px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.section-departments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50%;
}

.div-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.department-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 92px;
  width: 1182px;
  height: 385px;
  background: #f8f8f8;
  padding: 34px 56px; 
  overflow-y: auto;

}

.li-department-card {
  width: 489px;
  height: 196px;
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #4200ff;
  list-style: none;
}
.div-about {
  margin-bottom: 50px;
}

.div-about:nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.div-about:nth-child(2) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.div-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.div-top-section-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 50%;
}