#header {
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 23.13px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

#div-sections {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

#left-section {
  background-image: url(../../images/Rectangle\ 6.png);
  background-repeat: no-repeat;
  width: 550px;
  height: 743px;
}

#right-section {
  width: 550px;
  height: 743px;
  background: #f8f8f8;
}

#cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 489px;
  height: 134.99px;
  list-style: none;
  background-color: #ffffff;
  border-bottom: 1px solid #4200ff;
}

.titleh2-right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 52.18px;
  background: #4200ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}
